<div>
    <div class="container-fluid">
        <div id="search-form" class="row mt-3 justify-content-start">

            <div class="col-12 col-md-6 col-xl-8 mb-3">
                <div class="filter__sort ms-3">
                    <div class="sort-list">
                        <span class="sort-item">Sort by</span>
                        <ul class="sort-by">
                            <li><a href="" id="default-sort" class="sort-item">
                                    <span class="fw-bold">Default</span></a></li>
                            <li><a href="" id="time-new" class="sort-item">Time:
                                    <span class="fw-bold">New</span></a></li>
                            <li><a href="" id="time-old" class="sort-item">Time:
                                    <span class="fw-bold">Old</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <div class="p-1 bg-light rounded rounded-pill shadow-lg d-flex justify-content-end">
                    <div class="input-group">
                        <input
                            id="myInput"
                            type="search"
                            onkeyup="mySearchFunction()"
                            placeholder="Enter user name to search"
                            aria-describedby="btn-search"
                            class="form-control border-0 bg-light"
                        />
                        <div class="input-group-append">
                            <button id="btn-search" class="btn btn-link text-primary"><i
                                    class="fa fa-search"
                                ></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4">
        <div class="table-responsive">
            <table id="myTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Adjust</th>
                    </tr>
                </thead>

                <tbody id="list_orders">
                    {{#each listOrders.data}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.fullname}}</td>
                            <td>{{this.phone}}</td>
                            <td>{{this.address}}</td>
                            <td>{{this.release_Date}}</td>
                            <td>{{this.status}}</td>

                            <td>
                                <div class="row">
                                    {{#ifEquals this.status "Pending"}}
                                        <div class="col-6 text-center">
                                            <a
                                                onclick="return confirm('Do you want to accept this order?')"
                                                href="/order/accept/{{id}}"
                                            >
                                                <i class="fas fa-check" title="Accept order" style="color: green;">
                                                </i>
                                            </a>
                                        </div>

                                        <div class="col-6 text-center">
                                            <a
                                                onclick="return confirm('Do you want to cancel this order?')"
                                                href="/order /cancel/{{id}}"
                                            >
                                                <i class="fas fa-ban" title="Cancel order" style="color: red;"></i>
                                            </a>
                                        </div>
                                    {{/ifEquals}}
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <p id="total_page" style="display: none;">{{listOrders.total_page}}</p>
    <div id="page_component" class="d-flex justify-content-center product__pagination">
    </div>
</div>

<script>
    let total_page= document.getElementById("total_page").innerText
    let pageComponent = document.getElementById("page_component")
    
    let list_orders= document.getElementById("list_orders")
    let preNameSearch='';
    let preSort='';

    function load_order_page(page=1, name=preNameSearch, sort=preSort){
        
        let htmlListOrder=``
        $.getJSON(`/api/order?page=${page}&name=${name||''}&sort=${sort||''}`, function (orders) {
            const data= orders.data.map(v=>{
                return `
                    <tr>
                        <td>${v.id}</td>
                        <td>${v.fullname}</td>
                        <td>${v.phone}</td>
                        <td>${v.address}</td>
                        <td>${v.release_Date}</td>
                        <td>${v.status}</td>
                        </td>
                        <td>` + (v.status === 'Pending' ? `
                            <div class="row">
                                <div class="col-6 text-center">
                                    <a
                                        onclick="return confirm('Do you want to accept this order?')"
                                        href="/order/accept/${v.id}"
                                    >
                                        <i class="fas fa-check" title="Accept order" style="color: green;">
                                        </i>
                                    </a>
                                </div>

                                <div class="col-6 text-center">
                                    <a
                                        onclick="return confirm('Do you want to cancel this order?')"
                                        href="/order/cancel/${v.id}"
                                    >
                                        <i class="fas fa-ban" title="Cancel order" style="color: red;"></i>
                                    </a>
                                </div>
                            </div>
                        ` : '') + `
                        </td>
                    </tr>
                `
            })
            htmlListOrder= data.join("")
            list_orders.innerHTML= htmlListOrder
            if (name){
                if (name!==preNameSearch){
                    renderPage(orders.total_page, name, sort)
                }
                    preNameSearch= name;
                
            }
            if (sort){
                if (sort!==preSort){
                    renderPage(orders.total_page, name, sort)
                    preSort= sort;
                }
                
            }
        });
    }

    //handle sort
    let default_sort = document.getElementById("default-sort")
    let time_new = document.getElementById("time-new")
    let time_old = document.getElementById("time-old")

    

    default_sort.addEventListener('click', (e)=>{
        e.preventDefault()
        load_order_page(1, preNameSearch, 'default')
    })
    time_new.addEventListener('click', (e)=>{
        e.preventDefault()
        load_order_page(1, preNameSearch, 'time-new')
    })
    time_old.addEventListener('click', (e)=>{
        e.preventDefault()
        load_order_page(1, preNameSearch, 'time-old')
    })
    
    function renderPage(total_page=1, name, sort){
        let pagingHtml= ``
        for (let i=1; i<= Number(total_page); i++){
            pagingHtml+= `
                <a href=""
            class="currentPage" onclick="load_order_page(${i}, '${name||''}', '${sort||''}')">${i}</a>
            `
        }
        pageComponent.innerHTML= pagingHtml
        activePage()
    }
    renderPage(total_page)
    function activePage(){
        let pages= document.getElementsByClassName("currentPage")
        let prePage= pages[0];
        prePage.classList.add("is_active")
        for (let page of pages){
            page.addEventListener('click', (e)=>{
                e.preventDefault()
                e.target.classList.add("is_active")
                prePage.classList.remove("is_active")
                prePage= page
            })
        }
    }
    {{!-- activePage() --}}
</script>